.contagem {
    background-image: url(../img/img-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 5rem 0;

    .stat {
        font-size: 5rem;
        border-bottom: solid 1px white;
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #contagem {
        padding: 4rem 0;
    }
}