$logowidth: 40vw;

.hero {
    background-image: url(../img/img-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 6rem 0;
    position: relative;

    .language{
        position: absolute;
        font-size: 10pt;
        top: 30px;
        left: 30px;
        a{
          color: #FFFFFF;  
        }
        a:hover{
            color: #00B365;
        }
    }

    .socialmedia {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    &-logo {
        max-width: 500px;
        margin-bottom: 2rem;
        width: 100%;
    }
    h1 {
    }
    h3 {
        margin: 3rem 0;
    }
    a {
        img {
            transition: transform 100ms ease-in-out;
        }
        img:hover {
            transform: scale(1.2);
            transition: transform 100ms ease-in-out;
        }
    }
}