$logowidth: 40vw;

.hero {
    background-image: url(../img/img-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 6rem 0;

    h1 {
        text-indent: -9999px;
        background-image: url(../img/isa17.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: block;
        margin: auto;
        width: 366px;
        height: 130px;
        margin-bottom: 20px;
    }
    h3 {
        margin: 3rem 0;
    }
}