.newsletter {
    background-image: url(../img/img-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 5rem 0;
}
