
<div id="contagem" class="row align-center text-center">
  <div class="small-6 medium-3 large-2">
    <span class="dias stat"></span>
    <div class="legenda">Dias</div>
  </div>
  <div class="small-6 medium-3 large-2">
    <span class="horas stat"></span>
    <div class="legenda">Horas</div>
  </div>
  <div class="small-6 medium-3 large-2">
    <span class="minutos stat"></span>
    <div class="legenda">Minutos</div>
  </div>
  <div class="small-6 medium-3 large-2">
    <span class="segundos stat"></span>
    <div class="legenda">Segundos</div>
  </div>
</div>
